.game_infos{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 1rem;
    border: 2px solid white;
    background-color: black;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.2rem;
        img{
            filter:invert(1);
        }
    }
}